.home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.home::after {
  content: " ";
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
  filter: blur(10px);
  background-image: url(http://myinterface.xuanzai.top/getPicture?type=2233&id=34);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chat-box {
  position: relative;
  width: 70%;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fefefe;
  border-radius: 10px;
}

.left-list {
  position: relative;
  float: left;
  width: 250px;
  height: 100%;
  background: #2f4055;
  border-radius: 10px;
}

.left-list .header {
  position: relative;
  display: flex;
  color: #fefefe;
}

.left-list .header .profile {
  position: relative;
  top: 1rem;
}

.left-list .header .avatar {
  position: relative;
  top: 0.5rem;
  margin: 0.5rem 1.5rem 0 1rem;
}

.left-list .header .name {
  position: relative;
  font-size: 1.2rem;
}

.left-list .customer-list {
  position: relative;
}

.left-list .customer-list .list {
  position: relative;
  display: flex;
  border-bottom: 1px solid #505050;
  padding-bottom: 20px;
  color: #fefefe;
  transition: .3s;
  cursor: pointer;
}

.left-list .customer-list .list .avatar {
  position: relative;
  width: 50px;
  top: 0.5rem;
  margin: 0.5rem 1.5rem 0 1rem;
}

.left-list .customer-list .list .name {
  position: relative;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  flex: 1;
}

.left-list .customer-list .list:hover {
  background: #202020;
}

.right-list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 250px;
  overflow: hidden;
}

.right-list .header-profile {
  position: relative;
  text-indent: 1rem;
  line-height: 4.5rem;
  height: 10%;
  box-shadow: 0 2px 2px #cfcfcf;
}

.right-list .content-list {
  position: relative;
  height: 65%;
}

.right-list .content-list .list {
  position: relative;
  margin: 1rem 0 0 0.5rem;
}

.right-list .content-list .list .card {
  position: relative;
  display: inline-block;
  margin: 0.5rem;
}

.right-list .content-list .list .card ::v-deep .el-card__body {
  padding: 10px 12px;
}

.right-list .content-list .list .card .date-time {
  position: relative;
  font-size: .8rem;
  padding-bottom: .5rem;
  color: #666;
}

.right-list .content-list .menu-horizontal-scrollbar ::v-deep .el-scrollbar__wrap {
  overflow-x: hidden;
}

.right-list .input-box {
  position: relative;
  height: 25%;
}

.right-list .input-box .submit {
  position: relative;
  border-top: 1px solid #ececec;
  padding: 10px 0;
  margin-top: 0.5rem 0;
}

@media screen and (max-width: 2560px) {
  .chat-box {
    position: relative;
    width: 950px;
    height: 900px;
  }
}

@media screen and (max-width: 1920px) {
  .chat-box {
    width: 850px;
    height: 750px;
  }
}

@media screen and (max-width: 1440px) {
  .chat-box {
    width: 800px;
    height: 750px;
  }
}

@media screen and (max-width: 1080px) {
  .chat-box {
    width: 750px;
    height: 700px;
  }
  .left-list {
    width: 230px;
  }
  .left-list .header .name {
    font-size: 1rem;
  }
  .right-list {
    margin-left: 230px;
  }
}
